.titulo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

body {
    background-color: #FFC23B;
    position: relative;
}

.text {
    display: flex;
    justify-content: center;
}

/* .cloud {
    margin-top:70px;
    width:100%;
    height:120px;
    background:#ECEFF1;
    border-radius:100px;
}
.cloud::after, .cloud::before {
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud::after{
    width:100px;
    height:70%;
    top:-120px;
    left:-130px;
}
.cloud::before{
    width:70%;
    height:180px;
    top: -70px;
    left:130px;
} */